<div class="row">
  <div class="col-md-3 mb-4">
    <div class="list-group shadow-sm">
      <button class="list-group-item list-group-item-action active">Kategoriler</button>
      <button *ngFor="let cat of categories" 
              (click)="filterByCategory(cat.id)"
              class="list-group-item list-group-item-action"
              [class.bg-light]="selectedCategoryId === cat.id">
        {{cat.name}}
      </button>
    </div>
  </div>

  <div class="col-md-9">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
      <div class="col" *ngFor="let product of products">
        <div class="card h-100 shadow-sm border-0 product-card">
          <img [src]="product.imageUrl" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text text-primary fw-bold">{{product.price | currency:'TRY':'symbol':'1.2-2'}}</p>
            <button class="btn btn-outline-dark w-100" [routerLink]="['/product', product.id]">İncele</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>